main {
  >* {
    min-width: #{'min(500px, 100vw)'};
    width: 40vw;
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
  }
}

.light {
  main {
    color: black;
    background-color: white;
  }
}

.dark {
  main {
    color: white;
    background-color: $offblack;
  }
}
