nav {
  height: 7vh;
  font-size: #{'min(36px,6vw)'};
  letter-spacing: #{'min(5px,1vw)'};
  text-align: center;
  >flex-right {
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    >flex-right {
      margin: auto;
      justify-content: center;
      a {
        flex:.12;
        margin: 0 1.4vw;
        &.active {
          font-weight: bold;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.light {
  nav>flex-right {
    color: white;
    background-color: $dark;
  }
}

.dark {
  nav>flex-right {
    color: white;
    background-color: black;
  }
}
