main {
  >* {
    width: 40vw;
    margin: auto;
  }
  h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 15px;
  }
}
