main {
  >* {
    min-width: #{'min(500px, 100vw)'};
    width: 40vw;
    max-width: 100vw;
    margin: auto;
  }
  section {
    padding: 0 0 1vh;
    &:hover {
      background-color: $light;
    }
    a {
      text-decoration: underline;
      &:hover {
        color: $accent;
      }
    }
    h2 {
      font-weight: bold;
      font-size: #{'max(12px, 2.7vh)'};
      color: white;
      background-color: $accent;
      padding: 1.3vh 1.7vh;
      &:not(:first-child) {
        margin-top: 4vh;
      }
    }
    p {
      font-size: #{'max(10px, 2.2vh)'};
      line-height: 3.2vh;
      padding: 2.5vh 2.2vh;
    }
    figure {
      text-align: center;
      font-size: #{'max(10px, 2.15vh)'};
      padding: 2.5vh 2.2vh;
    }
  }
}
