main {
  >* {
    width: 40vw;
    margin: auto;
  }
  h2 {
    font-weight: bold;
    font-size: #{'max(12px, 2.7vh)'};
    margin-bottom: 20px;
    color: white;
    background-color: $light;
    padding: 15px 25px;
  }
  p {
    font-size: 1.4em;
    line-height: 1.3em;
    margin: 0 20px 15px;
  }
}
