nav {
  padding: 1.5vh 0;
  text-align: center;
  background-color: $dark;
  color: white;
  font-size: #{'min(4.5vh, 3.3vw)'};
  flex-right {
    width: 40vw;
    margin: auto;
    justify-content: center;
    a {
      flex:.26;
      &.active {
        font-weight: bold;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
