nav {
  padding: 20px 0;
  text-align: center;
  background-color: #420420;
  color: white;
  font-size: 2.1em;
  a {
    &.active {
      font-weight: bold;
    }
    &:hover {
      text-decoration: underline;
    }
    margin: 0 15px;
  }
}
