nav {
  height: 7vh;
  font-size: #{'min(36px,7vw)'};
  text-align: center;
  >flex-right {
    height: 7vh;
    color: white;
    background-color: $dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    >flex-right {
      width: 40vw;
      margin: auto;
      justify-content: center;
      a {
        flex:0;
        margin: 0 1.4vw;
        &.active {
          font-weight: bold;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
