.Resume {
  color: black;
  background-color: white;
  font-size: 1vh;
  width: 100vw;
  @media screen and (min-width: calc(100vh*8.5/11)) {
    border: solid #EEE;
    border-width: 0 1px 0;
    width: calc(100vh*8.5/11); // make aspect ratio like printer paper
  }
  box-sizing: border-box;
  min-height: 100vh;

  >*:not(:last-child) {
    flex: 0;
  }

  .header {
    padding: 1.2vh 1.8vh;
    font-size: 190%;
    font-weight: bold;
    color: white;
    background-color: $dark;
    &:hover {
      .website {
        text-decoration: underline;
      }
    }
    .contact {
      >div>div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .name {
      padding: 4px 0;
      font-size: 200%;
      text-decoration: none;
    }
  }
  .columns {
    @media screen and (max-width: calc(100vh*8.5/11)),
      screen and (max-height: 850px) {
      flex-direction: column-reverse;
      font-size: 10px;
    }
    >*:first-child {
      flex: 1;
    }
    >*:last-child {
      flex: 2;
    }
  }
  .section {
    font-size: #{'max(12px, 150%)'};
    line-height: #{'max(14px, 150%)'};
    &:hover {
      background-color: $offwhite;
    }
    .title {
      font-size: 120%;
      padding: .5vh 0;
      text-align: center;
      font-weight: bold;
      color: white;
      background-color: $accent;
      display: block;
      flex: 0;
    }
    .item {
      padding: 1.4vh 20px;
      &:hover {
        background-color: $light;
      }
      &.samples {
        text-align: center;
        font-weight: bold;
        font-size: 110%;
      }
      a {
        color: $dark;
        font-style: italic;
        &:hover {
          text-decoration: underline;
        }
      }
      .workplace {
        display: flex;
        justify-content: space-between;
        .project {
          font-weight: bold;
        }
        .dates {
          font-style: italic;
          white-space: nowrap;
        }
      }
      ul {
        li {
          list-style-position: outside;
          list-style-type: disc;
          margin-left: 30px;
        }
      }
      .description {
        padding: 1vh .6vh 0;
      }
      .nexient-item {
        padding: 1.5vh 1.6vh 0;
        .nexient-workplace {
          font-weight: bold;
          padding: 0 0 .3vh;
        }
        .nexient-description {
          padding: 0 0 0 .5vh;
        }
      }
    }
    &.download {
      @media screen and (min-width: calc(100vh*8.5/11)) and (min-height: 850px) {
        position: fixed;
      }
      bottom: 0;
      width: calc(100vh*8.5/11);
      max-width: 100vw;
    }
  }
}

.dark .Resume {
  border: none;
}